
<li [ngClass]="{'list-group-item' : true,
              'list-group-item-success': count > 0,
              'list-group-item-danger': 0 > count }">

  <h4><strong><font size="5">{{ titre }}</font></strong>
  <div class="pull-right"><i> {{ createdAt | date :'short' }} </i></div> </h4>
  <p > {{content}} </p>
   <div class = "btn-group">
   <button (click)="LikeIt()" type = "button" class = "btn btn-success">Love it</button>
     <button (click) ="Deslike()" type = "button" class = "btn btn-danger">Don't love it</button>
     </div>
     <button (click) ="onDeletePost()" type ="button" class="btn btn-danger pull-right">supprimer</button>
</li>
